.container {
    background-color: bisque;
    height: auto;
    width: 100%;
}

.form_container {
    width: 500px;
    height: 400px;
    background-color: rgb(210, 44, 204);
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    border-radius: 10px;
    display: flex;
    align-content: center;
    flex-direction: column;


}

.header_shop_list {
    color: black;
}

.body_shop_list {
    background-color: #936eab;
    height: 340px;
    width: 430px;
    border-radius: 2px;
    margin-left: 35px;
}

.enter_items {
    background-color: rgb(253, 254, 255);
    margin-top: 20px;
    padding-top: 10px;
    margin-left: -70px;
    border-radius: 3px
}

.enter_items_button {
    width: 100px;
    height: 30px;
    margin-left: 30px;
    background-color: burlywood;
    border-radius: 3px
}

.shoplist_is-empty {
    color: rgb(27, 8, 11);
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-top: 100px;
}

.shop_list {
    color: black;
}

.deleteBtn {
    width: 65px;
    height: 20px;
    background-color: red;
    border-radius: 5px;
    align-items: center;
    font-size: 11px;
}

li {
    list-style: none;
}